# =========================================
# Python
# =========================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# =========================================
# FastAPI / Logs
# =========================================

*.log

# =========================================
# VS Code
# =========================================

.vscode/

# =========================================
# OS Files
# =========================================

.DS_Store
Thumbs.db

# =========================================
# Pytest
# =========================================

.pytest_cache/

# =========================================
# Coverage
# =========================================

.coverage
htmlcov/

# =========================================
# Build
# =========================================

dist/
build/

# =========================================
# Node
# =========================================

node_modules/

# =========================================
# Frontend
# =========================================

frontend/node_modules/

# =========================================
# Upload Storage
# =========================================

storage/